<article class="product-detail">

  <% @line_items.each do |item| %>
    <% product = Product.find(item[:product_id]) %>
    <%= image_tag product.image.thumb.url , alt: product.name %>
    <div>

      <h1><%= product.name %></h1>
      <p><%= product.description %></p>

      <div class="quantity">
        <p> Number ordered: <%= item.quantity %></p>
      </div>

    </div>

  <% end %>


</article>
