<h1>Who we are</h1>
For over 98 years, Jungle has served as a popular garden center for the web, offering organic, earth-friendly gardening solutions as well as a strong family legacy of quality service and personal attention.

"Our grandfather built Jungle treating his customers like they were guests in his own home," says Brett Shorb, who co-owns the company with brothers Erik and Todd. "We're the third generation, and now that's second nature to all of us.

"With two retail stores located in Bethesda and a Landscape/Design/Build/Maintain division, a Container Garden Design Service and a Lifestyle Boutique—which offers indoor and outdoor containers, home décor, candles, and beauty products—Jungle has evolved into more than a Garden Center. While maintaining the company’s core values, Brett, Erik and Todd continue to expand the business and provide customers with something fresh each year. “We are a one-stop shopping destination with a wide selection of garden supplies, annuals, perennials, trees, and shrubs,” says Brett. “Our lifestyle boutique is the perfect gift destination and our greenhouses have exquisite orchids, houseplants, and creative custom arrangements.”

In addition to selling the most beautiful flowers, plants, trees, and shrubs, the Shorbs are committed to providing environmentally-friendly gardening solutions—they’ve been at the forefront of the industry’s environmental movement since taking the lead in 2000.